@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* font-family: 'Great Vibes', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');
/* font-family: 'Sunflower', sans-serif; */

:root {
    --white: #E8F1F2;
    --green: #529396;
    --pink: #e98789;
    --dark_green: #273E47;
    --black: #171D26;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

::-webkit-scrollbar {
    width: 1rem;
}


::-webkit-scrollbar-track {
    height: 1rem;
    background: var(--black);
}


::-webkit-scrollbar-thumb {
    background: var(--dark_green);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}

.logo,
.btn_primary,
.title_container,
.title_container_black,
.img_services,
.logo_about_me,
.header_mobile,
.items_container_mobile,
.img_partners img {
    cursor: pointer;
    transition: 1s all ease;
}

.item_header,
.services_item,
.img_services path,
.services_item h3,
.services_item p,
.next,
.prev,
.dots div,
.imgAtual {
    cursor: pointer;
    transition: .5s all ease;
}

.item_header::selection,
.text h1::selection,
.text p::selection,
.text span::selection,
.about_me p::selection,
.title_container::selection,
.datas_container p::selection {
    background-color: var(--white);
    color: var(--pink);
}

.title_container_black::selection,
.services_item::selection,
.services_item h3::selection,
.services_item p::selection {
    background-color: var(--black);
    color: var(--green);
    fill: var(--green);
}

.filter {
    position: absolute;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/slider_header1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 1s all ease;
    position: relative;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--dark_green);
    color: var(--white);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    z-index: 2;
}

.logo {
    max-width: 4.5rem;
    width: 100%;
    filter: invert(100%);
    padding: .5rem 0;
}

.logo:hover {
    max-width: 11rem;
}

.item_list_header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.items_container_mobile {
    list-style: none;
    position: absolute;
    top: 5.7rem;
    right: .1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--pink);
    padding: 2rem 3rem;
    border-radius: 0 0 2rem 2rem;
}

.item_header {
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    color: var(--white);
}

.item_header:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--green),
        0 0 4px var(--dark_green),
        0 0 5px var(--pink);
}

.header_mobile {
    display: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--white);
}

.text h1 {
    font-size: 64px;
    font-family: 'Great Vibes', cursive;
    letter-spacing: .2rem;
    text-align: center;
}

.text p {
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    text-align: center;
}

.main_title span {
    color: var(--green);
}

.text a,
.btn_primary {
    outline: 0;
    border: none;
    background-color: var(--green);
    color: var(--white);
    border-radius: 3rem;
    max-width: 20rem;
    max-height: 3rem;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
}

.btn_primary:hover {
    transform: scale(110%);
    background-color: var(--pink);
    color: var(--white);
}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 0 2rem 0;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    padding: 2rem 0 .5rem 0;
    border-bottom: 1px solid var(--white);
}

.title_container:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--green),
        0 0 4px var(--dark_green),
        0 0 5px var(--pink);
    border-color: var(--green);
    transform: scale(120%);
}

.title_container_black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--black);
    padding: 4rem 0 .5rem 0;
    border-bottom: 1px solid var(--black);
}

.title_container_black:hover {
    color: var(--pink);
    text-shadow: 0 0 3px var(--pink),
        0 0 4px var(--dark_green),
        0 0 5px var(--green);
    border-color: var(--pink);
    transform: scale(120%);
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    gap: 10rem;
}

.logo_about_me {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    filter: invert(100%);
}

.logo_about_me img {
    max-width: 30rem;
    width: 100%;
}

.logo_about_me:hover {
    transform: skew(15deg) scale(80%);
}

.text_about_me {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.text_about_me p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    line-height: 2.8rem;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
}

.main_services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5rem;
    width: 100%;
    padding: 5rem 0;
}

.services_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img_services {
    max-width: 7rem;
    max-height: 7rem;
    width: 100%;
    height: 100%;
}

.services_item h3 {
    font-size: 24px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
}

.services_item p {
    max-width: 17rem;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.services_item:hover,
.services_item:hover .img_services path,
.services_item:hover h3,
.services_item:hover p {
    color: var(--pink);
    fill: var(--pink);
}

.datas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('images/parallax.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 30rem;
    height: 100vh;
    width: 100%;
    color: var(--white);
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    gap: 3rem;
}

.datas_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 25%;
}

.circle_data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    user-select: none;
}

.portifolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 0;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 4rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* CORRIGIR */
    border: 3px solid var(--dark_green);
    border-radius: 1rem;
}

.image_card {
    display: flex;
    flex-direction: row;
    max-width: 30rem;
    max-height: 20rem;
    width: 100%;
    height: 100vh;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image img {
    max-width: 30rem;
    max-height: 20rem;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.next {
    position: absolute;
    right: 1rem;
    top: 50%;
}

.prev {
    position: absolute;
    left: 1rem;
    top: 50%;
}

.prev::before,
.prev::after,
.next::before,
.next::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 10px;
    background-color: var(--dark_green);
    cursor: pointer;
}

.prev::after,
.next::after {
    transform: rotate(45deg);
}

.prev::before,
.next::before {
    transform: rotate(-45deg);
}

.next {
    transform: rotate(180deg);
}

.next:hover,
.prev:hover {
    opacity: .4;
}

.dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dots div {
    border: 3px solid var(--dark_green);
    padding: .3rem;
    border-radius: 50%;
}

.dots div:hover,
.imgAtual {
    background-color: var(--green);
}

.text_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 0 0 1rem 1rem;
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: 0 0 2rem 0;
}

.img_partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
}

.img_partners img {
    max-width: 10rem;
    width: 100%;
}

.img_partners img:hover {
    opacity: .25;
    transform: scale(90%);
}