@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* font-family: 'Great Vibes', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');
/* font-family: 'Sunflower', sans-serif; */

:root {
    --white: #E8F1F2;
    --green: #529396;
    --pink: #e98789;
    --dark_green: #273E47;
    --black: #171D26;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

::-webkit-scrollbar {
    width: 1rem;
}


::-webkit-scrollbar-track {
    height: 1rem;
    background: var(--black);
}


::-webkit-scrollbar-thumb {
    background: var(--dark_green);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--green);
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.hide {
    animation: hide .5s forwards;
}

@keyframes hide {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.logo,
.btn_primary,
.title_container,
.title_container_black,
.img_services,
.logo_about_me,
.header_mobile,
.items_container_mobile,
.img_partners img,
.buttons button,
.form_input input,
.form_input textarea,
.form_input select {
    cursor: pointer;
    transition: 1s all ease;
}

.item_header,
.services_item,
.img_services path,
.services_item h3,
.services_item p,
.next,
.prev,
.dots div,
.imgAtual,
.next1,
.prev1,
.dots1 div,
.imgAtual1,
.next2,
.prev2,
.dots2 div,
.imgAtual2,
.next3,
.prev3,
.dots3 div,
.imgAtual3,
.next4,
.prev4,
.dots4 div,
.imgAtual4,
.next5,
.prev5,
.dots5 div,
.imgAtual5,
.next6,
.prev6,
.dots6 div,
.imgAtual6,
.next7,
.prev7,
.dots7 div,
.imgAtual7,
.next8,
.prev8,
.dots8 div,
.imgAtual8 {
    cursor: pointer;
    transition: .5s all ease;
}

.item_header::selection,
.text h1::selection,
.text p::selection,
.text span::selection,
.about_me p::selection,
.title_container::selection,
.datas_container p::selection,
.buttons button::selection,
.form_input label::selection {
    background-color: var(--white);
    color: var(--pink);
}

.title_container_black::selection,
.services_item::selection,
.services_item h3::selection,
.services_item p::selection,
.text_card p::selection,
.form_input input::selection,
.form_input textarea::selection {
    background-color: var(--black);
    color: var(--green);
    fill: var(--green);
}

.filter {
    position: absolute;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/slider_header1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 1s all ease;
    position: relative;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--dark_green);
    color: var(--white);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    z-index: 2;
}

.logo {
    max-width: 4.5rem;
    width: 100%;
    filter: invert(100%);
    padding: .5rem 0;
}

.logo:hover {
    max-width: 11rem;
}

.item_list_header {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.items_container_mobile {
    list-style: none;
    position: absolute;
    top: 5.7rem;
    right: .1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--pink);
    padding: 2rem 3rem;
    border-radius: 0 0 2rem 2rem;
}

.item_header {
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    color: var(--white);
}

.item_header:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--green),
        0 0 4px var(--dark_green),
        0 0 5px var(--pink);
}

.header_mobile {
    display: none;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--white);
}

.text h1 {
    font-size: 64px;
    font-family: 'Great Vibes', cursive;
    letter-spacing: .2rem;
    text-align: center;
    width: 100%;
}

.text p {
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    text-align: center;
}

.main_title span {
    color: var(--green);
}

.text a,
.btn_primary {
    outline: 0;
    border: none;
    background-color: var(--green);
    color: var(--white);
    border-radius: 3rem;
    max-width: 20rem;
    max-height: 3rem;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
}

.btn_primary:hover {
    transform: scale(110%);
    background-color: var(--pink);
    color: var(--white);
}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 0 2rem 0;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    padding: 2rem 0 .5rem 0;
    border-bottom: 1px solid var(--white);
}

.title_container:hover {
    color: var(--green);
    text-shadow: 0 0 3px var(--green),
        0 0 4px var(--dark_green),
        0 0 5px var(--pink);
    border-color: var(--green);
    transform: scale(120%);
}

.title_container_black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--black);
    padding: 4rem 0 .5rem 0;
    border-bottom: 1px solid var(--black);
}

.title_container_black:hover {
    color: var(--pink);
    text-shadow: 0 0 3px var(--pink),
        0 0 4px var(--dark_green),
        0 0 5px var(--green);
    border-color: var(--pink);
    transform: scale(120%);
}

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    gap: 10rem;
}

.logo_about_me {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    filter: invert(100%);
}

.logo_about_me img {
    max-width: 30rem;
    width: 100%;
}

.logo_about_me:hover {
    transform: skew(15deg) scale(80%);
}

.text_about_me {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}

.text_about_me p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    line-height: 2.8rem;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
}

.main_services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5rem;
    width: 100%;
    padding: 5rem 0;
}

.services_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img_services {
    max-width: 7rem;
    max-height: 7rem;
    width: 100%;
    height: 100%;
}

.services_item h3 {
    font-size: 24px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
}

.services_item p {
    max-width: 17rem;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.services_item:hover,
.services_item:hover .img_services path,
.services_item:hover h3,
.services_item:hover p {
    color: var(--pink);
    fill: var(--pink);
}

.datas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url('images/parallax.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 30rem;
    height: 100vh;
    width: 100%;
    color: var(--white);
    font-size: 20px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    gap: 3rem;
}

.datas_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 25%;
}

.circle_data {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    user-select: none;
}

.portifolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 0;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 4rem 1rem;
}

.card,
.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.image_card,
.image_card1,
.image_card2,
.image_card3,
.image_card4,
.image_card5,
.image_card6,
.image_card7,
.image_card8 {
    display: flex;
    flex-direction: row;
    max-width: 30rem;
    max-height: 20rem;
    width: 100%;
    height: 100vh;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    position: relative;
    user-select: none;
}

.slider,
.slider1,
.slider2,
.slider3,
.slider4,
.slider5,
.slider6,
.slider7,
.slider8 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image img,
.image1 img,
.image2 img,
.image3 img,
.image4 img,
.image5 img,
.image6 img,
.image7 img,
.image8 img {
    max-width: 30rem;
    max-height: 20rem;
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.next,
.next1,
.next2,
.next3,
.next4,
.next5,
.next6,
.next7,
.next8 {
    position: absolute;
    right: 1rem;
    top: 50%;
}

.prev,
.prev1,
.prev2,
.prev3,
.prev4,
.prev5,
.prev6,
.prev7,
.prev8 {
    position: absolute;
    left: 1rem;
    top: 50%;
}

.prev::before,
.prev::after,
.next::before,
.next::after,
.prev1::before,
.prev1::after,
.next1::before,
.next1::after,
.prev2::before,
.prev2::after,
.next2::before,
.next2::after,
.prev3::before,
.prev3::after,
.next3::before,
.next3::after,
.prev4::before,
.prev4::after,
.next4::before,
.next4::after,
.prev5::before,
.prev5::after,
.next5::before,
.next5::after,
.prev6::before,
.prev6::after,
.next6::before,
.next6::after,
.prev7::before,
.prev7::after,
.next7::before,
.next7::after,
.prev8::before,
.prev8::after,
.next8::before,
.next8::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 10px;
    background-color: var(--dark_green);
    cursor: pointer;
}

.prev::after,
.next::after,
.prev1::after,
.next1::after,
.prev2::after,
.next2::after,
.prev3::after,
.next3::after,
.prev4::after,
.next4::after,
.prev5::after,
.next5::after,
.prev6::after,
.next6::after,
.prev7::after,
.next7::after,
.prev8::after,
.next8::after {
    transform: rotate(45deg);
}

.prev::before,
.next::before,
.prev1::before,
.next1::before,
.prev2::before,
.next2::before,
.prev3::before,
.next3::before,
.prev4::before,
.next4::before,
.prev5::before,
.next5::before,
.prev6::before,
.next6::before,
.prev7::before,
.next7::before,
.prev8::before,
.next8::before {
    transform: rotate(-45deg);
}

.next,
.next1,
.next2,
.next3,
.next4,
.next5,
.next6,
.next7,
.next8 {
    transform: rotate(180deg);
}

.next:hover,
.prev:hover,
.next1:hover,
.prev1:hover,
.next2:hover,
.prev2:hover,
.next3:hover,
.prev3:hover,
.next4:hover,
.prev4:hover,
.next5:hover,
.prev5:hover,
.next6:hover,
.prev6:hover,
.next7:hover,
.prev7:hover,
.next8:hover,
.prev8:hover {
    opacity: .7;
}

.dots,
.dots1,
.dots2,
.dots3,
.dots4,
.dots5,
.dots6,
.dots7,
.dots8 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dots div,
.dots1 div,
.dots2 div,
.dots3 div,
.dots4 div,
.dots5 div,
.dots6 div,
.dots7 div,
.dots8 div {
    border: 3px solid var(--dark_green);
    padding: .3rem;
    border-radius: 50%;
}

.dots div:hover,
.imgAtual,
.dots1 div:hover,
.imgAtual1,
.dots2 div:hover,
.imgAtual2,
.dots3 div:hover,
.imgAtual3,
.dots4 div:hover,
.imgAtual4,
.dots5 div:hover,
.imgAtual5,
.dots6 div:hover,
.imgAtual6,
.dots7 div:hover,
.imgAtual7,
.dots8 div:hover,
.imgAtual8 {
    background-color: var(--green);
}

.text_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 0 0 1rem 1rem;
}

.text_card p {
    color: var(--black);
    font-size: 15px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.buttons button,
.buttons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: 0;
    border: none;
    background-color: var(--green);
    color: var(--white);
    max-height: 3rem;
    width: 100%;
    height: 100vh;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 500;
}

.buttons button:nth-child(1),
.buttons a {
    border-radius: 3rem 0 0 3rem;
}

.buttons button:nth-child(2) {
    border-radius: 0 3rem 3rem 0;
}

.buttons button:hover {
    background-color: var(--dark_green);
}

.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: 0 0 2rem 0;
}

.img_partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
}

.img_partners img {
    max-width: 10rem;
    width: 100%;
}

.img_partners img:hover {
    opacity: .25;
    transform: scale(90%);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 0 2rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
    padding: 2rem 1rem;
    background-color: var(--dark_green);
    border-radius: 2rem;
}

.form_input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    gap: 1rem;
}

.form_input:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0 0 0;
}

.form_input:nth-child(5) label,
.form_input:nth-child(5) textarea {
    width: 100%;
}

.form_input label {
    font-size: 17px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
}

.form_input input,
.form_input textarea,
.form_input select {
    outline: 0;
    border: none;
    display: flex;
    flex: 1;
    padding: .7rem 0 .7rem 1rem;
    font-size: 14px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    border-radius: .5rem;
}

.form_input input:focus,
.form_input textarea:focus,
.form_input select:focus {
    border: 3px solid var(--pink);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0 1rem 0;
    background-color: var(--black);
    color: var(--white);
    font-size: 12px;
    font-family: 'Sunflower', sans-serif;
    font-weight: 300;
    box-shadow: 0px -5px 10px -3px rgba(0,0,0,0.5);}

footer a {
    color: var(--green);
}